*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232222;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    margin-bottom: 100px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 43px 0 16px;
}

.phone {
    margin-top: 11px;
}

.phone:hover {
    animation: swing;
    animation-duration: .5s;
}

.main-menu {
    margin-top: 16px;
}

.menu__list {
    display: flex;
}

.menu__list--item + .menu__list--item {
    margin-left: 30px;
}

.menu__list--item-link {
    text-transform: uppercase;
    color: #001e64;
    font-weight: 500;
    line-height: 21px;
    font-size: 18px;
    display: block;
    transition: all 200ms linear;
}

.menu__list--item-link::after {
    border-bottom: 2px solid #fff;
    content: "";
    display: block;
    padding-top: 10px;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 200ms linear;
}

.menu__list--item-link::after {
    border-bottom: 2px solid #001e64;
    content: "";
    display: block;
    padding-top: 10px;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 200ms linear;
}

.menu__list--item-link:hover:after,
.menu__list--item-link:focus:after {
    opacity: 1;
    transform: translateY(0);
}

.header__content {
    background-image: url(../images/header-bgd.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-top: -100px;
    min-height: calc(100vh - 50px);
}

.title {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 95px;
    color: #001e64;
    max-width: 589px;
    padding-top: 170px;
    padding-left: 112px;
    margin-bottom: 60px;
}

.header-slider {
    max-width: 522px;
    padding: 49px 0 135px 110px;
}

.header-slider__text {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
}

.slick-prev,
.slick-next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 40px;
}

.slick-prev {
    top: 0;
}

.slick-next {
    bottom: 0;
}

.slick-dots {
    list-style: none;
    position: absolute;
    left: 35px;
    top: 48px;
    bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots button {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    opacity: 0.5;
    cursor: pointer;
}

.slick-active button {
    opacity: 1;
}

.slick-dots button::before {
    content: "0";
}

.slick-dots li:nth-child(n + 10) button::before {
    content: "";
}

.header__content-btn {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 14px 88px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-left: 112px;
    transform: translateY(-100px);
    position: absolute;
    transition: all .3s;
}

.header__content-btn:hover {
    background-color: #fff;
    color: #001E64;
}

.header__content-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}

.header__content-link--active {
    font-weight: 700;
}

.name__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.name__list-item:not(:last-child) {
    margin-bottom: 30px;
}

.name__list-link {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #232222;
}

.name__list--link-active {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #001e64;
}

.product__inner {
    display: flex;
    justify-content: space-between;
}

.product__name {
    width: 510px;
    text-align: center;
    padding-top: 41px;
}

.product-prev {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.product-prev,
.product-next {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.product__name--item {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    cursor: pointer;
}

.product__name--item.slick-current {
    font-weight: 700;
    color: #001E64;
    font-size: 36px;
}

.product__name--item + .product__name--item {
    margin-top: 30px;
}

.product__content-item {
    width: 600px;
}

.product__content-box {
    display: flex;
    justify-content: space-between;
}

.product__content-img {
    object-fit: cover;
}

.product__content-list {
    width: 291px;
    list-style: none;
}

.product__content-list-item {
    margin-bottom: 30px;
}

.product__content-list-item span {
    display: block;
    margin-bottom: 10px;
    color: #001e64;
}

.product__content-title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 24px;
    color: #001e64;
    margin-top: 35px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.product__content-desc {
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.product__content-btn {
    display: inline-block;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #001e64;
    color: #001e64;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 11px 85px;
    transition: all .3s;
}

.product__content-btn:hover {
    background-color: #001e64;
    color: #fff;
}

.seafood-box {
    background-image: url("../images/bgnd-seafood.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 290px 0 95px;
    margin-bottom: 100px;
}

.seafood-box__items {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.seafood-box__item {
    width: 180px;
    min-height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/seafood-decor.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.seafood {
    padding-bottom: 100px;
}

.seafood__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.seafood__item-content {
    width: 490px;
    display: flex;
    flex-direction: column;
}

.seafood__item-title {
    max-width: 490px;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 120%;
    color: #001e64;
    font-weight: 400;
    margin-bottom: 30px;
}

.seafood__item-text {
    max-width: 420px;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 20px;
}

.seafood__item--text-left .seafood__item-title {
    max-width: 420px;
}

.seafood__item--text-left .seafood__item-content {
    margin-right: 110px;
}

.seafood__blockquote {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.seafood__blockquote-text {
    max-width: 530px;
    margin: 0 auto;
    font-size: 18px;
}

.contacts {
    background-image: url(../images/contacts-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.contacts__box {
    margin-left: auto;
    width: 390px;
    background-color: #fff;
    padding: 33px 0 33px 20px;
}

.contacts__box-item {
    display: block;
}

.contacts__box-text {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #001e64;
    margin-bottom: 30px;
}

.contacts__box-list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
}

.contacts__box-item:not(:last-child) {
    margin-bottom: 30px;
}

.footer {
    padding: 25px 0 110px;
}

.footer__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 45px 0 23px;
}

.footer__inner .main-menu {
    padding-bottom: 20px;
}

.footer-social__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.footer-social__item:not(:last-child) {
    margin-right: 10px;
}

.footer-social__link path {
    transition: all .3s;
}

.footer-social__link:hover path {
    fill: #001e64;
}

.menu__btn {
    width: 40px;
    border: none;
    background-color: transparent;
    fill: #001e64;
    padding: 0;
    cursor: pointer;
    display: none;
}

/*
@media (max-width: 1160px) {
    .product__name {
        width: 350px;
    }
}

@media (max-width: 1000px) {
    .menu__list {
        position: absolute;
        display: block;
        left: 20%;
        right: 20%;
        top: -400px;
        background-color: #fff;
        transition: all .5s;
    }

    .menu__list.menu__list--active {
        top: 75px;
    }

    .menu__list--item-link:hover:after, .menu__list--item-link:focus:after {
        opacity: 0;
    }

    .menu__list--item + .menu__list--item {
        margin-left: 0;
    }

    .menu__btn {
        position: relative;
        display: inline-block;
        margin-top: -10px;
        z-index: 10;
    }

    .main-menu {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__list--item-link {
        padding: 10px 0;
        display: block;
        text-align: center;
    }

    .product__name {
        width: 250px;
    }
    .seafood__item {
        flex-direction: column;
    }
    .seafood__item img{
        width: 80%;
        align-self: center;
    }
    .seafood__item-content, .seafood__item-title{
        width: 100%;
    }

    .seafood__item-text {
        max-width: 100%;
    }

}
@media (max-width: 890px){
    .product__inner{
        display: block;
    }
    .product__name{
        width: 100%;
        padding-top: 0;
        margin-bottom: 80px;
    }
    .product__name--item+ .product__name--item{
        margin-top: 0;
    }
    .product__name--item.slick-current{
        line-height: 44px;
    }
    .product__content{
        margin: 0 auto;
    }
    .product__name.slick-dots{
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: center;
        margin: 0 5px;
    }
    .product__name.slick-dots button{
        width: 10px;
        height: 10px;
        font-size: 0;
        padding: 0;
        border-radius: 50%;
        background-color: #c4c4c4;
    }
    .product__name.slick-active button{
        background-color: #001e64;
    }


}

@media (max-width: 745px) {
    .title {
        font-size: 50px;
        line-height: 60px;
        max-width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .seafood-box__items{
        flex-wrap: wrap;
    }
    .seafood-box__item{
        margin-bottom: 20px;
    }

    .seafood__blockquote img{
        width: 70%;
    }
}
@media (max-width: 650px){
     .product__content{
         width: 100%;
     }

}
@media (max-width: 600px){
    .product__content-box{
        display: block;
    }
    .product__content-list{
        width: 100%;
    }
}

@media (max-width: 470px) {
    .header-slider {
        max-width: 522px;
        padding-left: 49px;
    }

    .title {
        font-size: 34px;
        line-height: 44px;
    }

    .slick-dots {
        left: 10px;
    }

    .slick-prev, .slick-next {
        left: 15px;
    }

    .header__content-btn {
        margin-left: 50px;
    }
}

@media (max-width: 360px) {
    .header__top, .phone {
        margin-right: 0;
    }

    .title {
        padding-top: 125px;
    }

    .logo, .header__top {
        margin-left: 0;
    }

    .header__content-btn {
        padding: 14px 50px;
    }

    .header-slider {
        padding-left: 0;
        padding-top: 0;
    }
}*/
